.signin-page {
  h1 {
    text-align: center;
    color: var(--main-blue);
    margin: 2rem 0;
    font-size: 3rem;
    text-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.7);
  }

  form {
    margin: 0 auto;
    background-color: white;
    width: 90%;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.2);

    button {
      background-color: var(--main-blue);
      color: white;
      border-radius: 1rem;
      border: none;
      padding: 1rem;
      margin: 1rem 0;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }
  }
}
