nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 2px solid var(--main-blue);
  background-color: white;
  box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.2);

  h1 {
    font-size: 2rem;
    color: var(--main-blue);
  }

  a,
  p {
    margin: 0 1rem;
    font-size: 1.4rem;
    transition: color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: var(--main-blue);
    }
  }
}

@media screen and (min-width: 800px) {
  nav {
    padding: 2rem 3rem;
  }
}
