.post-item {
  height: 30vh;
  width: 100%;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  background-color: white;

  box-shadow: 0px 0px 5px rgba($color: black, $alpha: 0.3);

  display: grid;
  grid-template-rows: 33% 47% 20%;

  .post-header {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
    background-color: var(--main-blue);

    img {
      height: 100%;
      background-color: white;
      padding: 0.5rem;
      border-radius: 1rem;
    }

    span {
      text-transform: capitalize;
    }
  }

  .post-body {
    p {
      font-size: 1.8rem;
      color: gray;
      padding: 1rem;
    }
  }

  .post-footer {
    overflow: hidden;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    border-top: 2px solid var(--main-blue);
    display: flex;
    align-items: center;

    button {
      padding: 3rem;
      border-right: 1px solid white;
      background-color: var(--main-blue);
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;

        i {
          transform: scale(1.3);
        }
      }

      &:active {
        i {
          transform: scale(0.8);
        }
      }

      i {
        font-size: 2.5rem;
        margin-right: 1rem;
        transition: transform 0.1s;
      }

      .liked {
        background-color: red;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .post-item {
    width: 35rem;
    height: 20rem;

    &.selected {
      width: 80vw;
      height: 80vh;
    }
  }
}
